.bg-orange {
    background-color: orange;
}
.text-orange{
    color: orange;
}
.w-58{
    width: 58%;
}
hr.solid1 {
    border-top: 1px solid orange;
    width: 35%;
}
hr.solid2 {
    border-top: 1px solid orange;
    width: 30%;
}
.line-hight{
    line-height: 20px;
}
.line-hight1{
    line-height: 1px;
}
.border-orange{
    border: 1px solid orange;
}
.bg-lightgoldenrodyellow{
    background-color: lightgoldenrodyellow;
}
.bg-yellow{
    background-color: yellow;
}
.bg-lightsalmon{
    background-color: lightsalmon;
}
.bg-orange{
    background-color: orange;
}
.btn-w50-h50{
    width: 100%;
    height: 100%;
}
.font-size-11{
    font-size: 11px;
}
button.btn{
    font-weight: bold;
}
.over-flow-info-order{
    height: 100px;
    overflow: auto;
}
.border-none{
    border: none;
}